<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DEVELOPER_DIR</key>
		<string>/Library/Developer/CommandLineTools</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.rohamghiasi.addify.tglisten</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/rohamghiasi/crate/daily/tg_listen.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/rohamghiasi/crate/daily/tg_listen.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/rohamghiasi/crate/daily/tg_listen.log</string>
	<key>ThrottleInterval</key>
	<integer>20</integer>
	<key>WorkingDirectory</key>
	<string>/Users/rohamghiasi/crate/daily</string>
</dict>
</plist>
